.pricingSection{
    padding: 100px 0;
    position: relative;
}
.pricingContainer{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
    .pricingContainer {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .pricingContainer {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .pricingContainer {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .pricingContainer {
        max-width: 1140px;
    }
}
.pricingRow{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}